body {
    background-color: lightgoldenrodyellow;
}
h1 {
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-family: cursive;
}

#github-link {
    text-align: center;
    font-style: italic;
    font-size: small;
}

a:hover {
    color: green;
}

/* Table Header Section */
.headerRemoveButton {
    float: left;                  /* Add this */
    width: 10%;
    height: 50px;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
}

.headerTitle {
    float: left;                  /* Add this */
    padding-left: 95px;
    width: 30%;
    height: 50px;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
}

.headerAuthor {
    float: left;                  /* Add this */
    width: 40%;
    height: 50px;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
}

.headerPages {
    float: left;                  /* Add this */
    width: 10%;
    height: 50px;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
}

.headerRead {
    float: left;                  /* Add this */
    width: 10%;
    height: 50px;;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
}

/* Table Contents Section */
.buttonRemoveBook {
    float: left;                  /* Add this */
    width: 10%;
    height: 75px;
    background-color: lightgray;
    border: dotted black;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
}

.buttonRemoveBook:hover {
    background-color: grey;
    color: white;
}

.divTitle {
    float: left;                  /* Add this */
    padding-left: 95px;
    width: 30%;
    height: 75px;
    background-color: #F09A9D;
    box-sizing: border-box;
    text-align: center;
    /* border: solid 2px black; */

}

.divAuthor {
    float: left;                  /* Add this */
    width: 40%;
    height: 75px;
    background-color: #F09A9D;
    box-sizing: border-box;
    text-align: center;
}

.divPages {
    float: left;                  /* Add this */
    width: 10%;
    height: 75px;
    background-color: #F09A9D;
    box-sizing: border-box;
    text-align: center;
}

.divRead {
    float: left;                  /* Add this */
    width: 10%;
    height: 75px;;
    background-color: #F09A9D;
    box-sizing: border-box;
    text-align: center;
}
